CPU1_RAM/ 
*.*~
/CPU1_FLASH/
/CPU1_STANDALONE/
/CPU1_STANDALONE__opt_for_speed__0/
/CPU1_STANDALONE__opt_for_speed__1/
/CPU1_STANDALONE__opt_for_speed__2/
/CPU1_STANDALONE__opt_for_speed__3/
/CPU1_STANDALONE__opt_for_speed__4/
/CPU1_STANDALONE__opt_for_speed__5/
Document/DIAGNOSTICSYSTEM_V1.DSNlck
Document/diagnosticsystem_v1.opj 
